<h1>Department Details</h1>

<p><strong>Name:</strong> <%= (@department.title).titlecase %></p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %> |
<%= link_to 'Delete', @department, method: :delete, data:{
        turbo_method: :delete
    } %>