<h1>Editing other work report</h1>

<%= render "form", other_work_report: @other_work_report %>

<br>

<div>
  <%= link_to "Show this other work report", @other_work_report %> |
  <%= link_to "Back to other work reports", other_work_reports_path %>
  
</div>
